html{
    height: 100%;
}
body{
    margin: 0px;
    background: linear-gradient(lightpink, rgb(255, 201, 248));
}
.upbar{
    position: fixed;
    right:0;
    top:0;
    width: 600px;
    height: 100px;
    background: linear-gradient(top left,rgb(133, 222, 238),rgb(17, 159, 184));
    background-color: rgb(26, 209, 241);
}
  .menu-trigger,
  .menu-trigger span {
    transition: all .4s;
  }
  
  .menu-trigger {
    position: fixed;
    width: 50px;
    height: 44px;
  }
  
  .menu-trigger span {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 60px;
    height: 6px;
    background-color: #fff;
    border-radius: 4px;
  }
  .menu-trigger span:nth-of-type(1) {
    top: 25px;
  }
  
  .menu-trigger span:nth-of-type(2) {
    top: 40px;
  }
  
  .menu-trigger span:nth-of-type(3) {
    top: 55px;
  }
  .menu-trigger.active-1 span:nth-of-type(1) {
    -webkit-transform: translateY (20px) rotate (-45deg);
    transform: translateY(20px) rotate(-45deg);
  }
  
  .menu-trigger.active-1 span:nth-of-type(2) {
    opacity: 0;
  }
  
  .menu-trigger.active-1 span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-10px) rotate(45deg);
  }
  .selectview span{
    transition: all .4s;
    position: fixed;
    top: 110px;
    right: 50px;
    width: 500px;
    height: 600px;
    background-color: rgb(148, 148, 148, 0.9);
    opacity: 0;
  }
  .selectview.active-1 span{
      opacity: 1;
  }
#no_mobile{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
  top: 0;
}
#angle-down{
    margin-left: 6px;
}
@media screen and (min-width: 600px), (min-height: 800px) {
    .dropbtn{
        display:none;
    }
}
@media screen and (max-width: 600px) and (max-height: 800px) {
  #no_mobile{
    display: none;
  }
}
#current_date{
    width: 80px;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    margin: 12px;
}
#click{
    position: fixed;
    right: 10px;
    bottom: 25px;
    width: 70px;
    height: 70px;
    line-height: 65px;
    color: white;
    text-align: center;
    font-size: 80px;
    border: 4px solid white;
    font-weight: 600;
    background-color: rgb(6, 136, 223);
    border-radius: 100%;
    margin: 12px;
}
#click:hover{
    background-color: rgb(7, 89, 145);
}
.white_content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.white_content:target {
    opacity:1;
    pointer-events: auto;
}
.white_content > div {
	position: absolute;
	top: 15.5%;
	left: 7%;
	width: 75.5%;
	height: 50%;
	padding: 16px;
	border: 16px solid orange;
	background:linear-gradient(white 60%, rgb(236, 236, 236) 40%);
	overflow: auto;	
}
a{
    text-decoration: none;
    color: black;
}
#allow_button{
    position: absolute;
    top: 92%;
    left: 55%;
    color: orange;
    border: 5px solid orange;
    background-color: white;
    width: 20%;
    height: 7%;
    font-size: 100%;
}
#close_button{
    position: absolute;
    top: 92%;
    left: 78%;
    color: orange;
    border: 5px solid orange;
    background-color: white;
    width: 20%;
    height: 7%;
    font-size: 100%;
}

#new_window #view1{
    position:absolute;
    left: 45%;
}
#new_window #view1 p{
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 20px;
}
#new_window #insert{
    position:absolute;
    left: 55%;
}
#insert_year, #insert_month, #insert_day{
    display:block;
    width: 90%;
    height: 30px;
    font-size: 15px;
    text-align: center;
}