.selectview2{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.selectview2.active{
    opacity:1;
    pointer-events: auto;
}
.selectview2 div{
    position: absolute;
    top: 20%;
    left: 9.5%;
    width: 450px;
    height: 400px;
    padding: 16px;
    border: none;
    background:linear-gradient(rgba(241, 241, 241, 0.8) 60% , rgba(219, 219, 219, 0.8) 40%);
    overflow: auto;	
}